@charset "utf-8";
 


/*comentario
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
 */

 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
 @font-face {
     font-family:"android" ;
     src: url("../fontes/idroid.otf" ) format("opentype") ;
     font-weight: normal;
   
 }
:root{
  
--cor0: #c5ebd6;
--cor1: #83e1ad;
--cor2: #3ddc84;
--cor3: #2fa866;
--cor4: #1a5c37;
--cor5: #063d1e;
--fonte-padrao: arial, verdana , helvetica, sans-serif; 
--fonte-destaque:"bebas nue", cursive;
--font-android :"android", curssive ;
}

 *{
     margin: 0px;
     padding: 0px;
    
  }
body {
    background-image:linear-gradient( to bottom,var(--cor0),var(--cor5) ) ;
    font-family:var(--fonte-padrao) ;
    
}
 main >p{
    margin: 15px , 0px ,15px;
     text-align: justify;
     text-indent: 30px;
     line-height: 2em;
     font-size: medium;

 }
  main > strong{
       color: rgb(55, 70, 99);
       padding: 1px, 1px,1px;
       font-weight: bold;
       padding: 2px;


   }
     main >a{
         color: aquamarine;
         font-weight: bold;
         background-color: powderblue;
         padding: 6px , 5px;
         padding: 3px;

   }
    main >a:hover {
        text-decoration-line: var(--cor0);
       
    }


header{
    background-image:linear-gradient( to bottom,var(--cor0),var(--cor5),var(--cor0) ) ;
     min-height: 150px;

    text-align: center;
    
    background-color: #1a5c37; 
}
header >h1{
    color :white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding-top: 40px;
    margin-bottom: 20px;
    text-shadow: 2px,3px, 0px, rgb(27, 26, 26);
    font-weight: normal;



}
  header >p{
      font-family: var(--fonte-padrao);
      font-size:1,2em ;
      color: white;
      max-width: 500px;
      margin: auto;
      padding-right: 10px;
      padding-left: 10px;
      text-shadow: 2px,3px, 0px, rgb(27, 26, 26);
    

  }

    nav{
        background-color:#063d1e ;
        box-shadow: 0px, 7px,9px, rgb(104, 75, 75) ;
        padding: 10px;
        color: whitesmoke;



    }
    nav >p{
        color: white;
        padding: 10px;
        font-weight: bold;
        text-decoration: none;
    }
    nav >a:hover{
        background-color: dimgray;
        color: #2fa866;
        transition-delay: 0.2s;
    }
main >h1{
    color:#063d1e;
    font-family: var(--font-android);

}
main{
    padding: 30px;
    border: 10px;
    margin: 10px;
    margin-bottom: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius: 10px;
    width-max: 870px;
    background-color:white;
    box-shadow: 2px,2px,10px, black ;
}
main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;


}
img{
    width: 100%;
}

  #videos {
 background-color: #1a5c37;
  margin: 0px -20px 20px -20px  ;
  padding: 10px ;
  position: relative;
  padding-bottom: 350px;
  width: 100%;
  
  right: -1% ; 
  
}
  iframe {
    position: absolute;
    width:90%;
    top:5%;
    left: 5%;


}


    
article >h2{
    color:white;
    font-family: var(--font-android);
    font-size: 1,5em;
    background-image: repeating-linear-gradient(--cor4);
    font-weight: normal;

}
article h3{
    background-color:#063d1e;
    color: white;
    text-align: center;
margin: -10px -10px;
padding: 10px;
padding-bottom:-10px ;
padding-top: 10px;
}
p.conteudo{
    padding: 10px;

}

aside{
    background-color:  #83e1ad;
    padding: 10px;
    border-radius: 10px;

}
aside ol {
    list-style-position: inside;
    columns: 2;
    

}
footer{
    background-color: #063d1e;
    color: white;
    text-align: center;
    font-size: 1.3em;
    padding: 5px;
}
footer p  >a {
    color: white;
    font-weight: bolder;
    text-decoration:none;

}
 
footer a:hover{
    text-decoration :overline;
    color: aqua;
    

}

